* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
}

header {
  background-color: #0b0b90;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

main {
  padding: 60px 50px;
  text-align: center;
}

main h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  font-size: 18px;
}

.btn {
  background-color: #2b7dbf;
  color: black;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  transition: 0.3s;
}

.rodape{
    display: flex;
    background-color: #190B95;
    align-items: center;
    padding: 20px 150px;
    justify-content: space-between;

    & p{
        font-size: 24px;
    }

    & .icons{
        display: flex;
        gap: 40px;
    }
}